{% extends "base.html" %}

{% block content %}

<div class="columns">
  <div class="column is-3 ">
    <aside class="menu is-hidden-mobile">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a class="has-background-primary has-text-white" href="/">Home</a></li>
        <li><a href="{{ url_for('page.grants') }}">Grants</a></li>
        <li><a href="{{ url_for('page.specialists') }}">Specialists</a></li>
        <li><a href="{{ url_for('page.subsidies') }}">Subsidies</a></li>
        <li><a href="{{ url_for('page.sessions') }}">Sessions</a></li>

      </ul>

    </aside>
  </div>
  <div class="column is-9">
    <section class="hero is-primary welcome is-small">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Home
          </h1>

        </div>
      </div>
    </section>


    <div class="is-6">
      <div class="card events-card">
        <header class="card-header">

          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody>
                <tr>
                  <td>Location</td>
                  <td>Phone</td>
                  <td>Name</td>
                  <td>Action</td>
                </tr>
                {%for user in users%}
                <tr>
                  <td>{{user.location}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.name}}</td>
                  <td><a class="button is-link is-small" href="/user/{{user.id}}">View</a></td>
                </tr>
                {% endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock %}
