<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="" href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js">
    <title>Document</title>
</head>
<body>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          profile
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="nav-link" href="{{url_for('main.dashboard')}}">Dashboard</a>
            <li><a class="dropdown-item" href="#">Edit profile</a></li>
          <li><a class="dropdown-item" href="#">Log out</a></li>
        </ul>
      </div>
</body>
</html>