{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-info is-light">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div class="columns">
  <div class="column is-3">
    <div class="card">
      <aside class="menu is-hidden-mobile card-content">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a href="/">Home</a></li>
          <li><a href="{{ url_for('page.grants') }}">Grant</a></li>
          <li><a href="{{ url_for('page.specialists') }}">Specialists</a></li>
          <li><a href="{{ url_for('page.subsidies') }}">Subsidies</a></li>
          <li><a href="{{ url_for('page.sessions') }}" class="has-background-primary has-text-white">Sessions</a></li>

        </ul>

      </aside>
    </div>

    <div class="card mt-6">
      <div class="card-content">
        <div class="content">
          <aside class="menu is-hidden-mobile">
            <p class="menu-label">
              New Session
            </p>
            <div class="file is-centered is-boxed is-success has-name">
              <label class="file-label">
                <div class="control">
                  <label>Availability</label>
                  <input class="input" type="text" placeholder="Availability">
                </div>
                <br />
                <div class="control">
                  <label>Category</label>
                  <input class="input" type="text" placeholder="Category">
                </div>
                <br />
                <div class="field is-grouped is-grouped-centered">
                  <p class="control">
                    <a class="button is-primary is-link is-small" href="#">New Session</a>
                  </p>
                </div>
              </label>
            </div>

          </aside>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-9">
    <section class="hero is-primary welcome is-small">
      <div class="hero-body">
        <div class="">
          <h1 class="title">
            Sessions
          </h1>

        </div>
      </div>
    </section>


    <div class="is-3">
      <div class="card events-card">
        <header class="card-header">

          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody>
                <tr>
                  <td class="title is-6">Ticket</td>
                  <td class="title is-6">Query</td>
                  <td class="title is-6">Status</td>
                  <td></td>
                  <td colspan="2"></td>
                </tr>
                {% for session in pending %}
                <tr>
                  <td>{{ session.id }}</td>

                  <td><audio controls preload="auto">
                      <source src="data:audio/mpeg;base64,{{ proxy(session.queryl).decode() }}" type="audio/mpeg">
                    </audio>
                  </td>
                  <td><span class="tag is-warning is-rounded">Pending</span></td>
                  <td>
                    <div class="select is-small is-rounded">
                      <select>
                        <option>Assign Specialist</option>
                        {% for specialist in specialists %}
                        <option name="{{ specialist.name }}">{{ specialist.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </td>
                  <td><a class="button is-success is-small"
                      href="{{ url_for( 'page.confirm_sessions', id=session.id ) }}">Confirm</button>
                  </td>
                  <td><a class="button is-danger is-small"
                      href="{{ url_for( 'page.cancel_sessions', id=session.id ) }}">Cancel</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody>
                <tr>
                  <td colspan="4" class="title is-primary">History</td>
                </tr>
                <tr>
                  <td class="title is-6">Ticket</td>
                  <td class="title is-6">Time Booked</td>
                  <td class="title is-6">Confirmed for</td>
                  <td class="title is-6">Status</td>
                </tr>
                {% for session in others %}
                <tr>
                  <td>{{ session.id }}</td>
                  <td>{{session.enqueue_on.strftime("%a %b %d %X")}}</td>
                  <td>{{session.confirmed_for.strftime("%a %b %d %X")}}</td>
                  {% if session.status == 1 %}
                  <td><span class="tag is-success is-rounded">Confirmed</span></td>
                  {% else %}
                  <td><span class="tag is-danger is-rounded">Canceled</span></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>


{% endblock %}