{% extends "base.html" %}

{% block content %}

<div class="columns">
  <div class="column is-3">
    <aside class="menu is-hidden-mobile">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('page.grants') }}">Grant</a></li>
        <li><a href="{{ url_for('page.specialists') }}">Specialists</a></li>
        <li><a href="{{ url_for('page.subsidies') }}">Subsidies</a></li>
        <li><a href="{{ url_for('page.sessions') }}" class="has-background-primary has-text-white">Sessions</a></li>

      </ul>

    </aside>
  </div>
  <div class="column is-6">
    <section class="hero is-primary welcome is-small">
      <div class="hero-body">
        <div class="">
          <h1 class="title">
            Sessions
          </h1>

        </div>
      </div>
    </section>


    <div class="is-3">
      <div class="card events-card">
        <header class="card-header">

          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody>
                <tr>
                  <td>Query</td>
                  <td>Status</td>
                  <td colspan="2"></td>
                </tr>
                {% for session in pending %}
                <tr>
                  <td><audio controls preload="auto">
                      <source src="http://197.248.0.197:8080/acbea5aed109c92f6b1e09e63f0473c8.mp3" type="audio/mpeg">
                    </audio>
                  </td>
                  <td><span class="tag is-warning">Pending</span></td>
                  <td><a class="button is-success is-small" href="#">Confirm</a></td>
                  <td><a class="button is-danger is-small" href="#">Cancel</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody>
                <tr>
                  <td colspan="4" class="subtitle is-primary">History</td>
                </tr>
                <tr>
                  <td>Time Booked</td>
                  <td>Confirmed for</td>
                  <td>Status</td>
                </tr>
                {% for session in others %}
                <tr>
                  <td>{{session.enqueue_on.strftime("%a %b %d %X")}}</td>
                  <td>{{session.confirmed_for.strftime("%a %b %d %X")}}</td>
                  {% if session.status == 1 %}
                  <td><span class="tag is-success">confirmed</span></td>
                  {% else %}
                  <td><span class="tag is-danger">Canceled</span></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>

  <div class="column is-3">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <aside class="menu is-hidden-mobile">
            <p class="menu-label">
              General
            </p>
            <div class="file is-centered is-boxed is-success has-name">
              <label class="file-label">
                <div class="control">
                  <label>Availability</label>
                  <input class="input" type="text" placeholder="Availability">
                </div>
                <br />
                <div class="control">
                  <label>Category</label>
                  <input class="input" type="text" placeholder="Category">
                </div>
                <br />
                <div class="field is-grouped is-grouped-centered">
                  <p class="control">
                    <a class="button is-primary is-link is-small" href="#">New Session</a>
                  </p>
                </div>
              </label>
            </div>

          </aside>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
